name: 'yikechuanmei'

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@main
        with:
          node-version: '14'

      - name: Pull
        run: |
          git config --global user.email "leachzhou@163.com"
          git config --global user.name "LeachZhou"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase

      - name: Build
        run: |
          cd yikechuanmei
          npm install
          npm run start
          git add .
          git diff-index --quiet HEAD && git status || git commit -m "Update by github action" && git push
